:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-color: rgb(28, 28, 28);
  --dark-color-transparency: rgba(28, 28, 28, 0.2);
  --light-color: rgb(232, 232, 232);
  --light-color-transparency: rgba(232, 232, 232, 0.1);
}

.light-theme {
  background-color: var(--light-color);
  color: var(--dark-color);
  --back-color: var(--light-color);
  --text-color: var(--dark-color);

  --shadow-color: var(--dark-color-transparency);
}

.dark-theme {
  background-color: var(--dark-color);
  color: var(--light-color);
  --back-color: var(--dark-color);
  --text-color: var(--light-color);

  --shadow-color: var(--light-color-transparency);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
}

.ant-btn {
  box-shadow: 0px 8px 32px var(--shadow-color);
}
.ant-btn:hover {
  box-shadow: 0px 4px 16px var(--shadow-color);
}

.ant-btn-primary {
  color: var(--back-color);
  background-color: var(--text-color);
}

.ant-btn-primary:hover {
  color: var(--back-color) !important;
}

.ant-radio-button-checked + span {
  color: var(--back-color);
}

.ant-radio-group {
  display: flex;
  justify-content: space-evenly;
}
.ant-radio-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.ant-modal-mask {
  backdrop-filter: blur(32px);
}
.ant-card-body {
  padding: 24px !important;
}
